<div>
  <mat-toolbar class="example-label col-3">
    
    <span class="lab" >Airvibe</span>
    <a routerLink="prepaid" id="adminPrepaid" mat-button class="example-button-row">
      Prepaid Plans
      </a>
    <a mat-button id="adminPostpaid" class="example-button-row">
      Postpaid Plans
    </a>
    <a mat-button id="adminAddOns" class="example-button-row ">
      AddOns
    </a>
    <a mat-button id="logout" class="example-button ">
      Logout
    </a>


    
  </mat-toolbar>
</div>






<router-outlet></router-outlet>

